<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card-body">
            <form action="/tasks/create" method="POST">
                <div class="form-group">
                    <input type="text" name="inputdata" placeholder="Escriba dato a ingresar" class="form-control" autofocus>
                </div>
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </form>
        </div>
        
    </div>
</div>
