
<div class="jumbotron">
    <h1 class="display-4">TypescriptApp</h1>
    <p class="lead">Prueba 1 de Insercion de data en BD MYSQL</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Mollitia molestias ad ut, praesentium dolorem eum molestiae 
        nostrum, qui dolore sint tempore iure sit rem minus pariatur 
        at rerum, repellendus dolor.
    </p>
    <a href="/tasks/create" class="btn btn-primary btn-lg" >Insertar</a>
</div>